header{
	background-color: orange;
	margin-bottom: 40px;
}

header h1{
	margin-bottom: 0;
	line-height: 1;
}

header p{
	margin-top: 0.5em;
}

.picture{
	margin-bottom: 20px;
	border: 1px solid #DDDDDD;
}

.character{
	width: 100%;
}

.card-text{
	padding: 20px;
}
.card-text h4{
	margin-top: 0;
	margin-bottom: 0;
}

.card-text p{
	margin: 0.5em 0;
}